
body{
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, #4db3ab, #2a9ba4, #0b8299, #056a8a, #155277);
    position:relative;
}

#app {
    font-family: Inter;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #EFEDF2;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #86CBC9;
    border-radius: 100px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #155277;
}
